@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

html, body {
  font-family: 'Roboto Slab', sans-serif;
}

#main {
  width: 95%;
  max-width: 800px;
  margin: auto;
}

a {
  color: #007489;
}

p {
  padding: 1em 0;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

pre {
    white-space: pre-wrap;
    background: #daf9ff;
    padding: 15px;
}

footer {
  padding-top: 30px;
}

/*
 * COLLAPSIBLE DEMO
 */

.collapse-container {
  margin: 15px 0;
  border: 1px solid #ddd;
}
.collapse-head {
  background-color: #ddd;
  cursor: pointer;
  padding: 15px;
}
.collapse-head h2 {
  font-size: 125%;
  padding: 0;
  margin: 0;
}

.collapse-content {
  padding: 15px;
}
.collapse-container.collapse-open {
  border: 1px solid #007489;
}
.collapse-container.collapse-open .collapse-head {
  background-color: #007489;
  color: #fff;
}
